<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTxvJXFKgcbcNma3aDB2xysfAmsqA0SDM</string>
	<key>GCM_SENDER_ID</key>
	<string>655844632597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelvn</string>
	<key>PROJECT_ID</key>
	<string>travel-vn-5fbdc</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-vn-5fbdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655844632597:ios:3fed28ae14459e0c03861c</string>
</dict>
</plist>